<div class="row">
	<div class="col-md-9 centered">
		<div class="jumbotron-white">
			<div class="section-header">
				<h2><%= image_tag("logo.png", size: '70') %> Who Am I?</h2>
			</div>
			<%= image_tag "chrisyoon.jpg", size: '220', class: "self-photo centered "%>
			<p>
			I am currently a student in the University of British Columbia studying Engineering Physics. My interest lies in the back-end Web development in Ruby on Rails and Node.js.
			</p>
			<p>
			My past work experiences include writing Selenium test automation and designing workflow regression test procedure for various web applications, and developing data analytics tools for optical circuits.
			</p>
		</div>
	</div>
</div>