<div class="row">
	<div class="span9 centered">
		<div class="hero-unit hero-unit-white">
			<h2 class="header"><%= image_tag('logo.png', size: '80') %> Who Am I?</h2>
			<p>
			I am currently a student in the University of British Columbia studying Engineering Physics. My interest lies in the back-end Web development in Ruby on Rails and Node.js.
			</p>
			<p>
			My past work experiences include writing Selenium test automation and designing workflow regression test procedure for various web applications, and developing data analytics tools for optical circuits.
			</p>
			<p>
		</div>
	</div>
</div>