
  <div class="row">
    <div class="col-md-3">
    <nav id="side-nav">
      <ul class="nav nav-pills nav-stacked affix">
        <li class="active"><a href="#one">One</a></li>
        <li><a href="#two">Two</a></li>
        <li><a href="#three">Three</a></li>
        <li><a href="#four">Four</a></li>
        <li><a href="#five">Five</a></li>
      </ul>
      </nav>
    </div>
    <div class="col-md-9 content">
      <div class="row">
           <h2 class="anchor" id="one"> Section 1 </h2>
      </div>
      <div class="row">
           <h2 class="anchor" id="two"> Section 2 </h2>
      </div>
      <div class="row">
           <h2 class="anchor" id="three">Section 3</h2>
      </div>
      <div class="row">
         <h2 class="anchor" id="four">Section 4</h2>
      </div>
      <div class="row">
        <h2 class="anchor" id="five">Section 5</h2>
      </div>
    </div>
  </div>