<div class="row">
<div class="span9 centered">
<div class="hero-unit hero-unit-white">
<h2 class="header">Projects</h2>
<div id="myProjectList">
	<ul>
		<li>
			<h4><%= link_to "Sentiment Analysis mashup", experience_path %></h4>
    		<p>A Web application to analyze reddit and twitter posts based on their sentiment.</p>
    	</li>
    	<li>
   			<h4><%= link_to "High Altitude GPS Glider", experience_path %></h4>
    		<p>A self-guiding autonomous GPS glider for BLAST high altitude telescope project.</p>
    	</li>
    	<li>
    		<h4><%= link_to "2010 Engineering Physics Robotics Competition: RoboRacers", experience_path %></h4>
    		<p>A tape-following autonomous racing robot. This was a collaboration work with three other team members. </p>
    	</li>
    </ul>
</div>
</div>
</div>
</div>