<main id="main-content">
<h1><%= image_tag('logo.png', size: '100') %> Chris Yoon</h1>

<div class="container">
<p class="quote">
"It is not who I am underneath, but what I do that defines me." <br/> <span>- Batman Begins -</span>
</p>
<p>
<%= link_to "Browse my projects", projects_path, class: "btn btn-lg btn-primary" %>
</p>
</div>

</main>