<h2>Project</h2>
<div id="myProjectList">
	<ul>
		<li>
			<h4><%= link_to "Sentiment Analysis mashup", project_path %></h4>
    		<p>A Web application to analyze reddit and twitter posts based on their sentiment.</p>
    	</li>
    	<li>
   			<h4><%= link_to "High Altitude GPS Glider", project_path %></h4>
    		<p>A self-guiding autonomous GPS glider for BLAST high altitude telescope project.</p>
    	</li>
    	<li>
    		<h4><%= link_to "2010 Engineering Physics Robotics Competition: RoboRacers", project_path %></h4>
    		<p>A tape-following autonomous racing robot. This was a collaboration work with three other team members. </p>
    	</li>
    </ul>
</div>