@import "bootstrap";

$background-gray: #F2F2F2;
$black: #000;
$white: #FFF;
/* universal */

html {
  overflow-y: scroll;
}

body {
	background-color: $background-gray;
	padding: 60px 20px 40px 20px;
	font-family: Helvetica;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

img {
	margin: 5px;
}

figure {
	text-align: center;
}

.container {
	max-width: none !important;
	width: 1150px;
}

.text-center {
  text-align: center;

  h1 {
  	margin-bottom: 10px;
  }
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.medium-margin {
	margin:20px;
}

.large-margin {
	margin:30px;
}

.small-padding {
	padding: 10px;
}

.medium-padding {
	padding: 20px;
}

.section-header {
	border-bottom: 1px solid #eaeaea;
	padding-bottom: 10px;
	margin-bottom: 30px;
}

.large-heading {
	font-size: 45px;
}

.medium-heading {
	font-size: 30px;
}

.small-heading {
	font-size: 20px;
}

.extra-small-text {
	font-size: 12px;
}

.small-text {
	font-size: 16px;
}

.medium-text {
	font-size: 20px;
}

.large-text {
	font-size: 25px;
}

.italic {
	font-style: italic;
}

/* header */

.navbar .navbar-brand:hover {
	color: $white;
	text-decoration: none;
}


/* footer */

footer {
	border-top: 1px solid #D8D8D8;
	padding-top: 30px;
	padding-bottom: 40px;
	margin-top: 40px;
}

/* main page */
#main-content {
	font-family: Helvetica;
	padding-top: 140px;
	padding-bottom: 140px;
	color: #6E6E6E;
	h1 {
		font-family: Helvetica;
		font-size: 80px;
		margin-top: 10px;
		margin-bottom: 5px;
	}

	p {
		margin-top: 5px;
		margin-bottom: 20px;
	}
}

.quote {
	font-size: 26px;
	margin-right: 20%;
	color: #848484;
	span {
		font-style: italic;
		font-size: 23px;
		margin-left: 55%;
	}
}

/* about page */

.text-wrap {
	float: left;
	margin: 20px 20px 20px 0px;
}

.jumbotron-white {
	margin: 10px;
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 40px;
	padding-right: 40px;
	background-color: $white;
	border-radius: 10px;
}

.self-photo {
	padding: 15px;
}

/* Experience page */

.project-content {
	padding: 20px;
  	margin-bottom:50px;
  	font-family: Helvetica;
}

.links {
	font-size: 14px;
	text-align: right;
}

.sidebar {
	padding: 10px;
	width: 280px;
}

.sidebar.affix {
	position: fixed;
	top: 60px;
}

.sidebar.affix-bottom {
	position: absolute;
	top: auto;
	bottom: 270px;
}

.sidebar .nav > li > a {
	display: block;
	color: #6E6E6E;
	padding: {
		top: 5px;
		right: 20px;
	}
}

.sidebar .nav > .active > a, 
.sidebar .nav > .active:hover > a, 
.sidebar .nav > .active:focus > a {
	font-weight: bold;
	color: blue;
	background-color: transparent;
	border-right: 1px solid black;
}

.sidenav {
	background-color: #E6E6E6;
	border-radius: 7px;
	margin-top: 30px;
}

.anchor {
	padding-top: 80px;
	margin-top: -45px;
}