@import "bootstrap";

$background-gray: #FAFAFA;
/* universal */

html {
  overflow-y: scroll;
}

body {
	background-color: $background-gray;
	padding: 100px 10px 20px 10px;
}

@import "bootstrap-responsive";

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.text-center {
  text-align: center;
}

.text-center h1 {
  margin-bottom: 10px;
}

.centered {
	margin-left: auto;
	margin-right: auto;
}

/* header */

.navbar .brand:hover {
	color: #000;
	text-decoration: none;
}

.navbar .nav > li > a {
	padding: 20px 15px 20px;
}

/* footer */

footer {
	margin-top: 20px;
	padding-top: 5px;
}

/* carousel */
#myCarousel {
	height: auto;
	width: 550px;
	max-width: 550px;
}

.carousel-inner img {
	height: 450px;
	width: 550px;
}

/* content */

.content {
	padding-top: 30px;
	background-color: #fff;
}

.content .content-header {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 50px;
}