@import "bootstrap";

$background-gray: #FAFAFA;
$black: #000;
$white: #FFF;
/* universal */

html {
  overflow-y: scroll;
}

body {
	background-color: $background-gray;
	padding: 60px 20px 40px 20px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

img {
	margin: 20px;
}

.text-center {
  text-align: center;
}

.text-center h1 {
  margin-bottom: 10px;
}

.centered {
	display: block;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

/* header */

.navbar .navbar-brand:hover {
	color: $white;
	text-decoration: none;
}

/* footer */

footer {
	border-top: 1px solid #D8D8D8;
	margin-top: 20px;
	padding-top: 30px;
	margin-top: 40px;
}

/* main page */
#main-content {
	padding-top: 140px;
	padding-bottom: 140px;
}

#main-content h1 {
	font-size: 80px;
	margin-top: 10px;
	margin-bottom: 10px;
}

#main-content p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.quote {
	font-size: 30px;
	margin-right: 20%;
}

.quote span {
	font-style: italic;
	font-size: 23px;
	margin-left: 55%;
}

/* about page */

.text-wrap {
	float: left;
	margin: 20px 20px 20px 0px;
}

.jumbotron-white {
	padding-top: 30px;
	/*padding-left: 10px;
	padding-right: 10px;*/
	background-color: #fff;
	/*width: 600px;*/
}

.jumbotron-white .header {
	border-bottom: 1px solid #eaeaea;
	margin-bottom: 30px;
}